<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/skinquik.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkinQuik</title>
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/main.js"></script>
</head>

<body>
    <div>
        <img src="/static/images/medAi_2.png">
    </div>
    <div>
        <button onclick="location.href='detect';"> Start detect</button>
    </div>

    <script>
        window.embeddedChatbotConfig = {
        chatbotId: "5TjrjRHlkOQAKbrxxremK",
        domain: "www.chatbase.co"
        }
        </script>
        <script
        src="https://www.chatbase.co/embed.min.js"
        chatbotId="5TjrjRHlkOQAKbrxxremK"
        domain="www.chatbase.co"
        defer>
        </script>
        
</body>

</html>